<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stops - {{ title }}</title>
    <link rel="stylesheet" href="{{ asset('build/css/dashboard.css') }}">
</head>
<body>
    {# HEADER #}
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('images/logotipo.jpeg') }}" width="40" height="40" class="d-inline-block align-top rounded" alt="">
            <h2 class="d-inline-block">Stops</h2>
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item"><a href="" class="nav-link text-light">Inicia Sesión/Registrase</a></li>
        </ul>
    </nav>

    {# CONTENIDO #}
    <div class="container">
        <div class="row">
            {# MENU #}
            <div class="col-3">
                <div class="list-group">
                    <button class="list-group-item list-group-item-action" onclick="location.href = '/profile';">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Mi Perfil
                    </button>
                    <button class="list-group-item list-group-item-action" onclick="location.href = '/business';">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        Mis negocios
                    </button>
                    <button class="list-group-item list-group-item-action" onclick="location.href = '/statistics';">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        Estadisticas de Visitas
                    </button>
                    <button class="list-group-item list-group-item-action" onclick="location.href = '/codes';">
                        <i class="fa fa-qrcode" aria-hidden="true"></i>
                        Volantes y Códigos QR
                    </button>
                    <button class="list-group-item list-group-item-action" onclick="location.href = '/payment';">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                        Mis Pagos y Facturación
                    </button>
                </div>
            </div>
            {# INFORMACIÓN #}
            <div class="col-9">
                <main class="p-3">
                    <h3 class="mb-4">
                        <i class="fa {{ section_icon }} fa-2x" aria-hidden="true"></i>
                        {{ section_name }}
                    </h3>
                    {% block section_body %}{% endblock %}
                </main>
            </div>
        </div>
    </div>
    <script src="{{ asset('build/js/dashboard.js') }}"></script>
</body>
</html>